* {
  box-sizing: border-box;
}

html {
	height: 100%;

}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgba(223, 242, 247, .5);
	height: 100%;
	margin: 0;
}

span {
	padding-right: 15px;
	padding-left: 15px;
}

.container {
	display: flex;
  	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.chat {
	height: 300px;
	width: 50vw;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
} 

::-webkit-input-placeholder { 
	color: .711 
}
 
input { 
	border: 0; 
	padding: 15px; 
	margin-left: auto;
	border-radius: 10px; 
}

.messages {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

#bot {
	margin-left: auto;
}

.bot {
	font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
	monospace;
}

.avatar {
	height: 25px;
}

.response {
	display: flex;
	align-items: center;
	margin: 1%;
}


/* Mobile */

@media only screen and (max-width: 980px) {
  .container {
		flex-direction: column; 
		justify-content: flex-start;
	}
	.chat {
		width: 75vw;
		margin: 10vw;
	}
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    font-size: 62.5%;
}

body{
    background-color: #fff;
    font-size: 1.6rem;
    font-family: 'Ubuntu', 'Lato', sans-serif;
}

.container{
    max-width: 114rem;
    padding: 0 .6rem;
    margin: 0 auto;
}

header{
    background-color: #FF2832;
    color: #fff;
    padding: 1rem 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 3rem;
}

.list-group{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item{
    margin-right: 3rem;
}

.list-item:last-child{
    margin-right: 0;
}

.list-link{
    color: #fff;
    text-decoration: none;
}

.section-1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.primary-text{
    color: rgb(11, 14, 15);
    justify-self: end;
}

.text-title{
    text-align: center;
}

.head{
    display: block;
    font-size: 6rem;
    letter-spacing: .2rem;
}

.sub{
    font-style: italic;
   
}

.wrapper{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 4rem;
}

.chat-us{
   position: absolute;
   right: 2rem;
   bottom: 2rem;
   background-color: #FF2832;
   color: #fff;
   padding: 1rem;
}

.chat-us:hover{
    background-color: black;
}

.chat-header{
    background-color: #FF2832;
    color: #fff;
    padding: .6rem;
    border-radius: 1rem 1rem 0 0;
}

.chat-box{
    position: absolute;
    right: 2rem;
    bottom: 3rem;
    display: none;
    width: 28rem;
}

.btn-send{
    background-color: #FF2832;
    color: #fff;
    padding: 1rem;
    margin-right: 1.5rem;
    border-radius: .5rem;
    text-align: center;
}

.btn-leave{
    background-color: #FF2832;
    color: #fff;
    padding: 1rem;
    margin-right: 1.5rem;
    border-radius: .5rem;
    text-align: center;
}

.btn{
    display: flex;
}

.sent-msg{
   background-color:#fff;
   color: rgb(0, 0, 0);
   height: 30rem;
   overflow-y: scroll;
}

.msg{
    padding: .7rem .5rem;
    border-bottom: .5px solid rgb(206, 186, 186);
}
.text-content{
	outline: none;
	height: 5rem;
	max-width: 114rem;
    padding: 0 .6rem;
    margin: 10px auto;
}


@media(max-width:600px){
    .logo{
        font-size: 2rem;
    }

    .list-group{
        display: none;
    }

    .section-1{
    background-position: left center;
    height: 94vh; 
    display: flex;
    justify-content: center;
    align-content: center;

    }

    .head{
        font-size: 4rem;
        padding-bottom: 2rem;
    }

    .chat-box{
		position: absolute;
        right: 1rem;
        bottom: 3rem;
        display: none;
        width:28rem;
    }
	

    .text-content{
		outline: none;
		height: 5rem;
		width: 100%;
		padding: 1rem;
		margin: 10px;
	}
}
